<!-- FILEPATH: e:\Development\CN\Auth System\views\home.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    </head>
    <body>
        <h1>Welcome to our website!</h1>
        <p>Thank you for visiting our website. We hope you find what you're looking for.</p>
        <div>
            <button><a href="/user/logout" method="GET">Logout</a></button>
            <button><a href="/user/reset" method="GET">Reset Password</a></button>
        </div>
        
    </body>
</html>
